@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>Erro</h2>

<p>
    Pedimos desculpas, aconteceu algo inesperado.
    <a href="javascript:history.go(-1)">Clique aqui</a>
    se você deseja voltar e tentar novamente.
</p>

<!-- <h1 class="text-danger">Error.</h1> -->
<!-- <h2 class="text-danger">An error occurred while processing your request.</h2> -->


