@model IEnumerable<giftstore.Models.Categoria>


@foreach (var categoria in Model)
{

    <li>
        @Html.ActionLink(categoria.Nome, "Navegar", "Loja", new { Categoria = categoria.Nome }, null)
    </li>

}
